.label {
  display: block;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.ctrl {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  min-width: 40px;
  border-radius: 5px;
  padding: 8px;
  border: solid 1px lightgray;
  background-color: #fafbfc;
  font-size: 16px;
  outline: none;
}

.readonly {
  background-color: #7f818683;
  pointer-events: none;
}

.ctrl:focus {
  background-color: white;
}

.textarea {
  width: 90%;
  border-radius: 5px;
  padding: 8px;
  border: solid 1px lightgray;
  background-color: #fafbfc;
  font-size: 16px;
  outline: none;
}

.fit-content {
  width: -moz-fit-content;
  /* Firefox */
  width: fit-content;
  /* other browsers */
}

.buttonArea {
  /* text-align: right;
  max-width: fit-content;*/
  margin-top: 5px;
  width: auto;
  margin-bottom: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.button {
  text-align: right;
}