.label {
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 90%;
}

.label .ant-tag {
  font-size: 40%;
  vertical-align: top;
  margin-left: 10px;
  padding-inline: 4px;
}

.ctrl {
  width: 90%;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 40px;
  border-color: #cccccc44;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
  background-color: #f6f7fcbb;
  font-size: 16px;
  outline: none;
}

.ctrl:focus {
  background-color: white;
  /* border-color: azure; */
}

.ctrl.input-number {
  width: 35%;
  min-width: 80px;
}

.ctrl.validation-error {
  border-style: solid;
  border-color: #f01818bf;
  border-width: 1.0px;
}

.readonly {
  background: linear-gradient(to right, #ccd0d95c, #cdd3de83);
}

.readonly .ant-select-selector {
  background-color: #abafb783 !important;
  pointer-events: none;
}

.readonly .ant-input {
  background-color: #abafb783 !important;
}

.readonly .ant-radio-checked .ant-radio-inner {
  background-color: #93abe9;
}

.readonly .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #93abe9;
}

.readonly:focus {
  background: linear-gradient(to right, #a5bed73c, #c5def75c);
}

.checkbox-item {
  margin-right: 5px;
  margin-left: 0px !important;
  /* for-antd */
  margin-inline-start: 0px !important;
  /* for-antd */
}

.textarea {
  width: 90%;
  border-radius: 5px;
  padding: 8px;
  border: solid 1px lightgray;
  font-size: 16px;
  outline: none;
}

.fit-content {
  width: -moz-fit-content;
  /* Firefox */
  width: fit-content;
  /* other browsers */
  min-width: 120px;
}

.button-area {
  padding: 3px;
  min-height: 100%;
  width: 100%;
  margin-right: 10px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.button-area.left {
  align-items: flex-start;
}

.button-area.middle {
  justify-content: center;
}

.button-area.bottom {
  justify-content: flex-end;
}

.button-alert {
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  bottom: 60px;
  margin-left: calc(-55%);
}

.button {
  position: relative;
  flex-wrap: wrap;
  width: fit-content;
}

.button.bottom {
  bottom: 15px;
}